# Environment files containing secrets
.env
.env.*
!.env.example

# General logs and caches
**/logs/
**/*.log
**/*.log.*
**/*.fault

# General database files
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.db-shm
**/*.db-wal

# Storage and media volumes
**/data/
**/media/

# Home Assistant specific exclusions
**/secrets.yaml
**/.HA_RESTORE_STATE
**/.HA_VERSION
**/.cache
**/.ha_run.lock
**/.storage/
**/tts/
**/deps/
**/ip_bans.yaml
**/known_devices.yaml
**/.cloud/

# Security, SSL certificates, and keys
*.pem
*.crt
*.key
*.pfx
